.center{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.h4,h5{
    font-weight: 500px;
}
.card-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color:white;
    background-repeat: space;
    background-clip: border-box;
    border: 1 px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-top: 20px;
}
.center .btn{
    font-size: 40 !important;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}