
 <ul class="nav justify-content-end">


    <li class="nav-item">
      <a class="nav-link active" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact"><i class="fa fa-fax" aria-hidden="true"></i> Contact us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="#"><i class="fa fa-book" aria-hidden="true"></i>About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/signup"><i class="fa fa-user" aria-hidden="true"></i>Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/signin"><i class="fa fa-key" aria-hidden="true"></i>Sign in</a>
      </li>
  </ul>

<header>
    <div class="navbar navbar-dark bg-primary1 shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <!-- <i class="fa-brands fa-amazon"></i> -->
            <img class="logo" src="assets/images/logo.png">
            <!-- <strong class="f1">flipkart</strong> -->
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="search">
                <span class="fas fa-search search-icon"></span>
            </div> -->
           
              <div class="container-fluid">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn1 btn-outline-success" type="submit" > Search</button>
                  
                </form>
              </div>
           
         
        </div>
        <div class="icon"> 
            <!-- <i style="font-size: 30px; " class="fa fa-heart" aria-hidden="true"></i>  -->
            <i style="font-size: 30px; word-spacing: 10px;" routerLink="/cart"   class="fas fa-cart-plus"></i>
             <i class="bi bi-cart"></i>
        </div>
    </div>
   
 </header>
 <div class="container1">
    <div class="menu">
        <div class="cd-dropdown-wrapper">
 <div class="dropdown">
    <button class="btn btn-secondary2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Store Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Man</a>
      <a class="dropdown-item" href="#">Women</a>
      <a class="dropdown-item" href="#">Electronics</a>
    </div>
  </div>
</div>
</div>
</div>





 

