body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 50px;
    padding-left: 130px;
   
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
.card{
    height:auto;
    width: 600px;
    text-align: center;
}
.card-header{
    background-color: #007bff;
}
p,.text-danger{
 
   padding-left: 200px;
    padding-top: 10px;
}
.my-form{
  background-image: url('/src/assets/images/s15.jpg');
 
}